In [1]:
import pandas as pd
import json

## Clean Dataset business.json

business.json has problematic columns under certain parsing workflows.  There is also a lot of extraneous information.  This seeks to clean and compress available information for easier database loading and downstream parsing.

In [5]:
data = pd.read_json('business.json', lines=True)
data.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

In [6]:
sm = data.attributes[1]

In [7]:
sm.keys()

dict_keys(['RestaurantsReservations', 'GoodForMeal', 'BusinessParking', 'Caters', 'NoiseLevel', 'RestaurantsTableService', 'RestaurantsTakeOut', 'RestaurantsPriceRange2', 'OutdoorSeating', 'BikeParking', 'Ambience', 'HasTV', 'WiFi', 'GoodForKids', 'Alcohol', 'RestaurantsAttire', 'RestaurantsGoodForGroups', 'RestaurantsDelivery'])

In [8]:
import numpy as np

def get_keys(x):
    if x is not None:
        return np.array(list(x.keys()))
    else:
        return np.array([])

data["attribute_keys"] = data.attributes.apply(get_keys)

In [9]:
# Aggregate keys - These will likely need to be hardcoded as columns
unique_keys = set(np.concatenate(data.attribute_keys.to_numpy()))
unique_keys

{'AcceptsInsurance',
 'AgesAllowed',
 'Alcohol',
 'Ambience',
 'BYOB',
 'BYOBCorkage',
 'BestNights',
 'BikeParking',
 'BusinessAcceptsBitcoin',
 'BusinessAcceptsCreditCards',
 'BusinessParking',
 'ByAppointmentOnly',
 'Caters',
 'CoatCheck',
 'Corkage',
 'DietaryRestrictions',
 'DogsAllowed',
 'DriveThru',
 'GoodForDancing',
 'GoodForKids',
 'GoodForMeal',
 'HairSpecializesIn',
 'HappyHour',
 'HasTV',
 'Music',
 'NoiseLevel',
 'Open24Hours',
 'OutdoorSeating',
 'RestaurantsAttire',
 'RestaurantsCounterService',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'RestaurantsPriceRange2',
 'RestaurantsReservations',
 'RestaurantsTableService',
 'RestaurantsTakeOut',
 'Smoking',
 'WheelchairAccessible',
 'WiFi'}

In [10]:
list(unique_keys)

['BusinessAcceptsBitcoin',
 'NoiseLevel',
 'AcceptsInsurance',
 'BYOB',
 'Music',
 'RestaurantsTakeOut',
 'AgesAllowed',
 'RestaurantsAttire',
 'BusinessParking',
 'DogsAllowed',
 'BestNights',
 'RestaurantsTableService',
 'RestaurantsPriceRange2',
 'GoodForDancing',
 'RestaurantsGoodForGroups',
 'GoodForKids',
 'Ambience',
 'HairSpecializesIn',
 'BYOBCorkage',
 'CoatCheck',
 'DriveThru',
 'GoodForMeal',
 'Corkage',
 'Open24Hours',
 'WiFi',
 'Alcohol',
 'Smoking',
 'HappyHour',
 'DietaryRestrictions',
 'WheelchairAccessible',
 'BikeParking',
 'RestaurantsDelivery',
 'Caters',
 'OutdoorSeating',
 'BusinessAcceptsCreditCards',
 'HasTV',
 'ByAppointmentOnly',
 'RestaurantsReservations',
 'RestaurantsCounterService']

In [17]:
# Pickle unique keys for further use
import pickle
with open('keys.pkl', 'wb+') as file:
    pickle.dump(list(unique_keys), file)

In [11]:
# Turning Key: values into columns

subset = data.iloc[0:10]

def expand_attributes(df):
    attributes = {}
    default_na = {key: np.nan for key in unique_keys}
    if df.attributes is None:
        attributes = default_na
    else:
        for key in unique_keys:
            if key in df.attributes.keys():
                attributes[key] = df.attributes[key]
            else:
                attributes[key] = np.nan
    return attributes
        
attribute_df = pd.DataFrame.from_dict(
    dict(data.apply(expand_attributes, axis=1)),
    orient='index'
)

attribute_df.head()

,BusinessAcceptsBitcoin,NoiseLevel,AcceptsInsurance,BYOB,Music,RestaurantsTakeOut,AgesAllowed,RestaurantsAttire,BusinessParking,DogsAllowed,...,WheelchairAccessible,BikeParking,RestaurantsDelivery,Caters,OutdoorSeating,BusinessAcceptsCreditCards,HasTV,ByAppointmentOnly,RestaurantsReservations,RestaurantsCounterService
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,u'loud',NaN,NaN,NaN,True,NaN,u'casual',"{'garage': False, 'street': False, 'validated'...",NaN,...,NaN,False,False,True,False,NaN,False,NaN,True,NaN
2,NaN,u'average',NaN,NaN,NaN,True,NaN,'casual',"{'garage': False, 'street': False, 'validated'...",NaN,...,NaN,True,False,False,False,True,True,NaN,True,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,True,NaN,NaN

In [12]:
# Clean Individual attributes
# Remove non ascii chars from string
def clean_strings(x):
    if "u'" in str(x):
        return x.strip("u'")
    elif "'" in str(x):
        return x.strip("'")
    return x

for key in unique_keys:
    attribute_df[key] = attribute_df[key].apply(clean_strings)
    
attribute_df.head()

,BusinessAcceptsBitcoin,NoiseLevel,AcceptsInsurance,BYOB,Music,RestaurantsTakeOut,AgesAllowed,RestaurantsAttire,BusinessParking,DogsAllowed,...,WheelchairAccessible,BikeParking,RestaurantsDelivery,Caters,OutdoorSeating,BusinessAcceptsCreditCards,HasTV,ByAppointmentOnly,RestaurantsReservations,RestaurantsCounterService
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,loud,NaN,NaN,NaN,True,NaN,casual,"{'garage': False, 'street': False, 'validated'...",NaN,...,NaN,False,False,True,False,NaN,False,NaN,True,NaN
2,NaN,average,NaN,NaN,NaN,True,NaN,casual,"{'garage': False, 'street': False, 'validated'...",NaN,...,NaN,True,False,False,False,True,True,NaN,True,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,True,NaN,NaN

In [13]:
for key in unique_keys:
    attribute_to_check = key
    print(key, '\n', attribute_df[attribute_df[attribute_to_check].notna()].head(1)[attribute_to_check])

BusinessAcceptsBitcoin
 4    False
Name: BusinessAcceptsBitcoin, dtype: object
NoiseLevel
 1    loud
Name: NoiseLevel, dtype: object
AcceptsInsurance
 9    False
Name: AcceptsInsurance, dtype: object
BYOB
 176    False
Name: BYOB, dtype: object
Music
 12    {'dj': False, 'background_music': False, 'no_m...
Name: Music, dtype: object
RestaurantsTakeOut
 1    True
Name: RestaurantsTakeOut, dtype: object
AgesAllowed
 52    allages
Name: AgesAllowed, dtype: object
RestaurantsAttire
 1    casual
Name: RestaurantsAttire, dtype: object
BusinessParking
 1    {'garage': False, 'street': False, 'validated'...
Name: BusinessParking, dtype: object
DogsAllowed
 15    False
Name: DogsAllowed, dtype: object
BestNights
 12    {'monday': False, 'tuesday': False, 'friday': ...
Name: BestNights, dtype: object
RestaurantsTableService
 1    True
Name: RestaurantsTableService, dtype: object
RestaurantsPriceRange2
 1    2
Name: RestaurantsPriceRange2, dtype: object
GoodForDancing
 12    True
Name: GoodForDancing, dtype: object
RestaurantsGoodForGroups
 1    True
Name: RestaurantsGoodForGroups, dtype: object
GoodForKids
 0    False
Name: GoodForKids, dtype: object
Ambience
 1    {'romantic': False, 'intimate': False, 'classy...
Name: Ambience, dtype: object
HairSpecializesIn
 59    {'straightperms': False, 'coloring': False, 'e...
Name: HairSpecializesIn, dtype: object
BYOBCorkage
 17    no
Name: BYOBCorkage, dtype: object
CoatCheck
 12    False
Name: CoatCheck, dtype: object
DriveThru
 23    False
Name: DriveThru, dtype: object
GoodForMeal
 1    {'dessert': False, 'latenight': False, 'lunch'...
Name: GoodForMeal, dtype: object
Corkage
 135    True
Name: Corkage, dtype: object
Open24Hours
 27161    False
Name: Open24Hours, dtype: object
WiFi
 1    no
Name: WiFi, dtype: object
Alcohol
 1    full_bar
Name: Alcohol, dtype: object
Smoking
 50    no
Name: Smoking, dtype: object
HappyHour
 12    True
Name: HappyHour, dtype: object
DietaryRestrictions
 2969    {'dairy-free': False, 'gluten-free': False, 'v...
Name: DietaryRestrictions, dtype: object
WheelchairAccessible
 15    False
Name: WheelchairAccessible, dtype: object
BikeParking
 1    False
Name: BikeParking, dtype: object
RestaurantsDelivery
 1    False
Name: RestaurantsDelivery, dtype: object
Caters
 1    True
Name: Caters, dtype: object
OutdoorSeating
 1    False
Name: OutdoorSeating, dtype: object
BusinessAcceptsCreditCards
 2    True
Name: BusinessAcceptsCreditCards, dtype: object
HasTV
 1    False
Name: HasTV, dtype: object
ByAppointmentOnly
 4    True
Name: ByAppointmentOnly, dtype: object
RestaurantsReservations
 1    True
Name: RestaurantsReservations, dtype: object
RestaurantsCounterService
 61653    True
Name: RestaurantsCounterService, dtype: object

# How to get attributes into database

There are a couple ways to approach this.  One is to continue cleaning and condense back to a uniform size attributes list.  Another would be to migrate the business table to something with all these features. I don't think the migration is worthwhile.  The raw data isn't done as such, and the possibity of new feaures downstream means another migration may be needed.

Few Steps:

1. Convert dictionary items to simple lists of True.  (Don't include false items).
2. Condense all attribute columns (from attribute_df) into single dictionary of lists (or nan).

In [14]:
sample = attribute_df.Ambience[1]

In [15]:
from ast import literal_eval
print(type(sample))
display(type(literal_eval(sample)), literal_eval(sample))

<class 'str'>

dict

{'romantic': False,
 'intimate': False,
 'classy': False,
 'hipster': False,
 'divey': False,
 'touristy': False,
 'trendy': False,
 'upscale': False,
 'casual': True}

In [16]:
# Strip Only true
def strip_true(str_dict):
    if str_dict is not None and type(str_dict) == str:
        x = literal_eval(str_dict)
        if type(x) == dict:
            true_keys = []
            for key in x.keys():
                if x[key] == True:
                    true_keys.append(key)
            return true_keys
    return str_dict

In [17]:
strip_true(sample)

['casual']

In [18]:
# Apply to transformed dataframe
dict_cols = ['Ambience', 'BestNights', 'BusinessParking',
             'GoodForMeal', 'Music', 'HairSpecializesIn', 'DietaryRestrictions' ]
for col in dict_cols:
    attribute_df[col] = attribute_df[col].apply(strip_true)

In [19]:
attribute_df.head()

,BusinessAcceptsBitcoin,NoiseLevel,AcceptsInsurance,BYOB,Music,RestaurantsTakeOut,AgesAllowed,RestaurantsAttire,BusinessParking,DogsAllowed,...,WheelchairAccessible,BikeParking,RestaurantsDelivery,Caters,OutdoorSeating,BusinessAcceptsCreditCards,HasTV,ByAppointmentOnly,RestaurantsReservations,RestaurantsCounterService
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,loud,NaN,NaN,NaN,True,NaN,casual,[lot],NaN,...,NaN,False,False,True,False,NaN,False,NaN,True,NaN
2,NaN,average,NaN,NaN,NaN,True,NaN,casual,[lot],NaN,...,NaN,True,False,False,False,True,True,NaN,True,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,True,NaN,NaN

In [20]:
# Attempt turning into single dict
attribute_df.iloc[1].to_dict()

{'BusinessAcceptsBitcoin': nan,
 'NoiseLevel': 'loud',
 'AcceptsInsurance': nan,
 'BYOB': nan,
 'Music': nan,
 'RestaurantsTakeOut': 'True',
 'AgesAllowed': nan,
 'RestaurantsAttire': 'casual',
 'BusinessParking': ['lot'],
 'DogsAllowed': nan,
 'BestNights': nan,
 'RestaurantsTableService': 'True',
 'RestaurantsPriceRange2': '2',
 'GoodForDancing': nan,
 'RestaurantsGoodForGroups': 'True',
 'GoodForKids': 'True',
 'Ambience': ['casual'],
 'HairSpecializesIn': nan,
 'BYOBCorkage': nan,
 'CoatCheck': nan,
 'DriveThru': nan,
 'GoodForMeal': ['lunch', 'dinner'],
 'Corkage': nan,
 'Open24Hours': nan,
 'WiFi': 'no',
 'Alcohol': 'full_bar',
 'Smoking': nan,
 'HappyHour': nan,
 'DietaryRestrictions': nan,
 'WheelchairAccessible': nan,
 'BikeParking': 'False',
 'RestaurantsDelivery': 'False',
 'Caters': 'True',
 'OutdoorSeating': 'False',
 'BusinessAcceptsCreditCards': nan,
 'HasTV': 'False',
 'ByAppointmentOnly': nan,
 'RestaurantsReservations': 'True',
 'RestaurantsCounterService': nan}

In [26]:
attribute_df.head().to_dict(orient='records')

[{'RestaurantsReservations': nan,
  'BestNights': nan,
  'Alcohol': nan,
  'RestaurantsTableService': nan,
  'GoodForMeal': nan,
  'Music': nan,
  'WheelchairAccessible': nan,
  'BikeParking': nan,
  'HairSpecializesIn': nan,
  'Caters': nan,
  'DogsAllowed': nan,
  'RestaurantsCounterService': nan,
  'BusinessAcceptsCreditCards': nan,
  'GoodForKids': 'False',
  'RestaurantsPriceRange2': nan,
  'DriveThru': nan,
  'WiFi': nan,
  'Open24Hours': nan,
  'RestaurantsTakeOut': nan,
  'Corkage': nan,
  'NoiseLevel': nan,
  'DietaryRestrictions': nan,
  'RestaurantsGoodForGroups': nan,
  'Ambience': nan,
  'BYOBCorkage': nan,
  'BusinessAcceptsBitcoin': nan,
  'AcceptsInsurance': nan,
  'AgesAllowed': nan,
  'BYOB': nan,
  'RestaurantsAttire': nan,
  'ByAppointmentOnly': nan,
  'BusinessParking': nan,
  'GoodForDancing': nan,
  'Smoking': nan,
  'HappyHour': nan,
  'HasTV': nan,
  'OutdoorSeating': nan,
  'CoatCheck': nan,
  'RestaurantsDelivery': nan},
 {'RestaurantsReservations': 'True',
  'BestNights': nan,
  'Alcohol': 'full_bar',
  'RestaurantsTableService': 'True',
  'GoodForMeal': ['lunch', 'dinner'],
  'Music': nan,
  'WheelchairAccessible': nan,
  'BikeParking': 'False',
  'HairSpecializesIn': nan,
  'Caters': 'True',
  'DogsAllowed': nan,
  'RestaurantsCounterService': nan,
  'BusinessAcceptsCreditCards': nan,
  'GoodForKids': 'True',
  'RestaurantsPriceRange2': '2',
  'DriveThru': nan,
  'WiFi': 'no',
  'Open24Hours': nan,
  'RestaurantsTakeOut': 'True',
  'Corkage': nan,
  'NoiseLevel': 'loud',
  'DietaryRestrictions': nan,
  'RestaurantsGoodForGroups': 'True',
  'Ambience': ['casual'],
  'BYOBCorkage': nan,
  'BusinessAcceptsBitcoin': nan,
  'AcceptsInsurance': nan,
  'AgesAllowed': nan,
  'BYOB': nan,
  'RestaurantsAttire': 'casual',
  'ByAppointmentOnly': nan,
  'BusinessParking': ['lot'],
  'GoodForDancing': nan,
  'Smoking': nan,
  'HappyHour': nan,
  'HasTV': 'False',
  'OutdoorSeating': 'False',
  'CoatCheck': nan,
  'RestaurantsDelivery': 'False'},
 {'RestaurantsReservations': 'True',
  'BestNights': nan,
  'Alcohol': 'beer_and_wine',
  'RestaurantsTableService': 'True',
  'GoodForMeal': ['lunch', 'dinner'],
  'Music': nan,
  'WheelchairAccessible': nan,
  'BikeParking': 'True',
  'HairSpecializesIn': nan,
  'Caters': 'False',
  'DogsAllowed': nan,
  'RestaurantsCounterService': nan,
  'BusinessAcceptsCreditCards': 'True',
  'GoodForKids': 'True',
  'RestaurantsPriceRange2': '2',
  'DriveThru': nan,
  'WiFi': 'no',
  'Open24Hours': nan,
  'RestaurantsTakeOut': 'True',
  'Corkage': nan,
  'NoiseLevel': 'average',
  'DietaryRestrictions': nan,
  'RestaurantsGoodForGroups': 'True',
  'Ambience': ['casual'],
  'BYOBCorkage': nan,
  'BusinessAcceptsBitcoin': nan,
  'AcceptsInsurance': nan,
  'AgesAllowed': nan,
  'BYOB': nan,
  'RestaurantsAttire': 'casual',
  'ByAppointmentOnly': nan,
  'BusinessParking': ['lot'],
  'GoodForDancing': nan,
  'Smoking': nan,
  'HappyHour': nan,
  'HasTV': 'True',
  'OutdoorSeating': 'False',
  'CoatCheck': nan,
  'RestaurantsDelivery': 'False'},
 {'RestaurantsReservations': nan,
  'BestNights': nan,
  'Alcohol': nan,
  'RestaurantsTableService': nan,
  'GoodForMeal': nan,
  'Music': nan,
  'WheelchairAccessible': nan,
  'BikeParking': nan,
  'HairSpecializesIn': nan,
  'Caters': nan,
  'DogsAllowed': nan,
  'RestaurantsCounterService': nan,
  'BusinessAcceptsCreditCards': nan,
  'GoodForKids': nan,
  'RestaurantsPriceRange2': nan,
  'DriveThru': nan,
  'WiFi': nan,
  'Open24Hours': nan,
  'RestaurantsTakeOut': nan,
  'Corkage': nan,
  'NoiseLevel': nan,
  'DietaryRestrictions': nan,
  'RestaurantsGoodForGroups': nan,
  'Ambience': nan,
  'BYOBCorkage': nan,
  'BusinessAcceptsBitcoin': nan,
  'AcceptsInsurance': nan,
  'AgesAllowed': nan,
  'BYOB': nan,
  'RestaurantsAttire': nan,
  'ByAppointmentOnly': nan,
  'BusinessParking': nan,
  'GoodForDancing': nan,
  'Smoking': nan,
  'HappyHour': nan,
  'HasTV': nan,
  'OutdoorSeating': nan,
  'CoatCheck': nan,
  'RestaurantsDelivery': nan},
 {'RestaurantsReservations': nan,
  'BestNights': nan,
  'Alcohol': nan,
  'RestaurantsTableService': nan,
  'GoodForMeal': nan,
  'Music': nan,
  'WheelchairAccessible': nan,
  'BikeParking': nan,
  'HairSpecializesIn': nan,
  'Caters': nan,
  'DogsAllowed': nan,
  'RestaurantsCounterService': nan,
  'BusinessAcceptsCreditCards': 'True',
  'GoodForKids': nan,
  'RestaurantsPriceRange2': nan,
  'DriveThru': nan,
  'WiFi': nan,
  'Open24Hours': nan,
  'RestaurantsTakeOut': nan,
  'Corkage': nan,
  'NoiseLevel': nan,
  'DietaryRestrictions': nan,
  'RestaurantsGoodForGroups': nan,
  'Ambience': nan,
  'BYOBCorkage': nan,
  'BusinessAcceptsBitcoin': 'False',
  'AcceptsInsurance': nan,
  'AgesAllowed': nan,
  'BYOB': nan,
  'RestaurantsAttire': nan,
  'ByAppointmentOnly': 'True',
  'BusinessParking': nan,
  'GoodForDancing': nan,
  'Smoking': nan,
  'HappyHour': nan,
  'HasTV': nan,
  'OutdoorSeating': nan,
  'CoatCheck': nan,
  'RestaurantsDelivery': nan}]

In [21]:
# Try concatenating with main data

## Appending exploded frame
# frame = [data, attribute_df]
# new_data = pd.concat(frame, axis=1, sort=True, join='inner')
# new_data.head(1)

## Appending compressed frame
new_data = data
new_data.attributes = attribute_df.to_dict(orient='records')
new_data = new_data.drop(columns='attribute_keys')

In [22]:
# Conversion of dict type to jsonified list for database storage
new_data.attributes = list(map(lambda x: json.dumps(x), new_data.attributes))
new_data.hours = list(map(lambda x: json.dumps(x), new_data.hours))

In [28]:
display(type(new_data.attributes[1]), type(new_data.hours[1]), new_data.attributes[0], new_data.hours[1])

str

str

'{"BusinessAcceptsBitcoin": NaN, "NoiseLevel": NaN, "AcceptsInsurance": NaN, "BYOB": NaN, "Music": NaN, "RestaurantsTakeOut": NaN, "AgesAllowed": NaN, "RestaurantsAttire": NaN, "BusinessParking": NaN, "DogsAllowed": NaN, "BestNights": NaN, "RestaurantsTableService": NaN, "RestaurantsPriceRange2": NaN, "GoodForDancing": NaN, "RestaurantsGoodForGroups": NaN, "GoodForKids": "False", "Ambience": NaN, "HairSpecializesIn": NaN, "BYOBCorkage": NaN, "CoatCheck": NaN, "DriveThru": NaN, "GoodForMeal": NaN, "Corkage": NaN, "Open24Hours": NaN, "WiFi": NaN, "Alcohol": NaN, "Smoking": NaN, "HappyHour": NaN, "DietaryRestrictions": NaN, "WheelchairAccessible": NaN, "BikeParking": NaN, "RestaurantsDelivery": NaN, "Caters": NaN, "OutdoorSeating": NaN, "BusinessAcceptsCreditCards": NaN, "HasTV": NaN, "ByAppointmentOnly": NaN, "RestaurantsReservations": NaN, "RestaurantsCounterService": NaN}'

'{"Monday": "9:0-0:0", "Tuesday": "9:0-0:0", "Wednesday": "9:0-0:0", "Thursday": "9:0-0:0", "Friday": "9:0-1:0", "Saturday": "9:0-1:0", "Sunday": "9:0-0:0"}'

In [30]:
## Saving Data
import s3
bucket = s3.Bucket('yelp-data-shared-labs18')

temp_file_path = '/tmp/tempbusiness.json'
new_data.to_json(temp_file_path, orient='records')
bucket.save(temp_file_path, 'Processed/business_transformed.json')

/tmp/tempbusiness.json  283428862 / 283428862.0  (100.00%)

In [31]:
# Get file from s3 if needed
bucket.get('Processed/business_transformed.json', 'business_transformed.json')

In [3]:
pd.read_json("business_transformed.json").head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,"{'RestaurantsReservations': None, 'BestNights'...","Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'BestNight...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'RestaurantsReservations': 'True', 'BestNight...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,"{'RestaurantsReservations': None, 'BestNights'...","Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'RestaurantsReservations': None, 'BestNights'...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

## Generate Jobs from Existing Data

Often enough we need to reprocess existing data.  This is a framework for filtering for the files needed and generating the necessary jobs.

Uses local jobs library

In [9]:
import jobs
import s3
bucket = jobs.get_bucket()

In [13]:
# Search for exisisting data
search_string = 'clean_checkin'
search = bucket.find(search_string)
search[0:10]

['Clean/clean_checkin_0',
 'Clean/clean_checkin_1',
 'Clean/clean_checkin_2',
 'Clean/clean_checkin_3',
 'Clean/clean_checkin_4',
 'Clean/clean_checkin_5',
 'Clean/clean_checkin_6',
 'Clean/clean_checkin_7',
 'Clean/clean_checkin_8']

In [14]:
for filepath in search:
    jobs.generate_job(savepath=filepath, job_type='POST')

/tmp/POST_clean_checkin_8_job  33 / 33.0  (100.00%)