In [2]:
from awstools import s3

In [3]:
# Initialize bucket
bucket = s3.Bucket('yelp-data-shared-labs18')

In [ ]:
# Save a file
filepath = "/mnt/cluster_share/lambda_school/Labs/yelp-dataset-challenge-2-ds/awstools/job_2019-11-12.json"
bucket.save(filepath, 'Jobs/job_2019-11-12.json')

In [3]:
# Find a file
i = 1
for item in bucket.find(search='test'):
    print(item)

In [4]:
# Test a download to memory (only works with binary types right now. e.g. parquet)
download = bucket.get('sample_data/tip.parquet')

In [8]:
import pandas as pd
!pip install pyarrow
pd.read_parquet(download).head()

Requirement already satisfied: pyarrow in /home/vbrandon/anaconda3/lib/python3.7/site-packages (0.15.1)
Requirement already satisfied: numpy>=1.14 in /home/vbrandon/anaconda3/lib/python3.7/site-packages (from pyarrow) (1.17.2)
Requirement already satisfied: six>=1.0.0 in /home/vbrandon/anaconda3/lib/python3.7/site-packages (from pyarrow) (1.12.0)

,user_id,business_id,text,date,compliment_count
43058,yo74UdoRXo4-9W4_rw6OVQ,DkYS3arLOhA8si5uUEmHOw,The Italian sub didn't come with any lettuce. ...,2012-06-05 08:52:02,0
133912,UYcmGbelzRa0Q6JqzLoguw,QGAv-8tj5i4m4G-HDMnIbA,Service is horrible and skip the cake batter s...,2015-01-26 00:43:02,1
435180,xyOC6_uzW_H33j1XmjFitA,5S4qWTntF4S-JNTbPNyYPw,"Great place for coffee and to kick back and ""g...",2017-11-08 20:16:07,0
111024,CxDOIDnH8gp9KXzpBHJYXw,c6f8wBjPLDzyubEBqgcMnw,No washroom.... Hold.. Hold.. Hold..,2013-02-12 18:30:20,0
768408,_VOxmPH8tdGQS3D7TMGFQg,DVfCbJhJUDWRlUfrKzaKOA,This is so great. Restaurant in front and MSG ...,2016-12-20 06:19:51,0